@import "tailwindcss";
body{
  background:#f5f7fb;
  font-family: Inter, sans-serif;
}

*{
  scroll-behavior:smooth;
}
::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#edf2f7;
}

::-webkit-scrollbar-thumb{
  background:#3b82f6;
  border-radius:20px;
}
button{
  transition:all 0.3s ease;
}